<template>

    <div class="columns">
      <div class="column  is-half is-offset-one-quarter">
        <div class="field is-grouped">
          <p class="control is-expanded">
             <input class="input is-primary has-text-centered" type="text" placeholder="Nova tarefa..." v-model="tarefa">         
          </p>
          <p class="control">
              <meu-botao
                tipo="button"
                rotulo="+"
                @botaoAtivado="adiciona()"
                estilo="plus button is-success add-button">
        </meu-botao>
          </p>
        </div>
      </div>
    </div>
</template>

<script>
import Botao from '../shared/botao/Botao.vue'

export default {
    components: { 
        'meu-botao' : Botao
    },

    data () {
        return {
            tarefa: ''
        }
    },

     methods: {
        adiciona(){
            this.$emit('novaTarefa', this.tarefa);
            this.tarefa = ''
        }
     }
}
</script>

<style scoped>
.input {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
  outline: none;
  border-bottom-width: 2px;
  box-shadow: none;
}
.input.is-primary:focus {
  box-shadow: none;
}
.add-button {
  border-radius: 50%;
}

</style>