<template>
  <div>
     <section class="hero is-primary is-bold is-fullheight">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item">
                VueJs Tutorial 1.0
              </a>
            </div>
          </div>
        </nav>
      </div>

      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <todo-card></todo-card>
        </div>
      </div>

      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
        <div class="container">
          <div class="content has-text-centered">
            <p>
              <strong>VueJS Tutorial</strong> by <a href="http://github.com/kessiacastro">Késsia Castro</a>.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import TodoCard from './TodoCard.vue'

export default {
     components:{
        'todo-card' : TodoCard,
     },

    
}
</script>

<style >
.hero.is-primary {
    background-color: thistle;
    color: white;
}

.hero.is-primary.is-bold {
    background-image: linear-gradient(141deg, white 0%, rgb(69, 65, 75) 71%, #07010f 100%);
}
</style>
