
<template> 

    <div class="painel">
        <h2 class="painel-titulo" @dblclick="visivel = !visivel">{{ foto.titulo }}</h2>
        <div class="painel-conteudo" v-show="visivel">
            <img v-meu-transform="{nome: 'teste'}" class="imagem-responsiva" :src='foto.url' alt="">
            <slot></slot>
        </div>
    </div>
</template>

<script>
/**
 * https://michaelnthiessen.com/vue-props-vs-data/
 */
export default {
    
    /**
     * However, when we access props from inside of a component, we don't own them,
     * so we can't change them (just like you can't change the genes your parents gave you).
     */
    props: ['foto'],

    /**
     * Data is the memory of each component. This is where you would store data
     * (hence the name), and any other variables you want to track.
     */
    data () {
        return {
            visivel:true
        }
    }
}
</script>

<style>
/* estilo do painel */ 

   .painel {
    padding: 0 auto;
    border: solid 2px grey;
    display: inline-block;
    margin: 5px;
    box-shadow: 5px 5px 10px grey;
    width: 250px;
    height: 100%;
    vertical-align: top;
    text-align: center;
  }

  .painel .painel-titulo {
    text-align: center;
    border: solid 2px;
    background: lightblue;
    margin: 0 0 15px 0;
    padding: 10px;
    text-transform: uppercase;
    font-size: large;
  }

  .imagem-responsiva {
    width: 100%;
}

</style>
