<template>
    <!-- v-bind or : 
        :type="tipo"
        liga "tipo" com o "tipo" declarado em props
    -->
    <button @click="disparaAcao()" :class="estiloDoBotao" :type="tipo">{{ rotulo }}</button>    
</template>

<script>
export default {
    props:  ['tipo', 'rotulo', 'estilo'],

    methods:{
        disparaAcao() {
            this.$emit('botaoAtivado');
        }
    },

    computed: {
        estiloDoBotao(){
            if(this.estilo == 'padrao' || !this.estilo) return 'botao botao-padrao'
            if(this.estilo == 'perigo') return 'botao botao-perigo'
            else{
                return this.estilo
            }
        }
    }
}
</script>

<style scoped>
.botao {
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
    font-size: 1.2em;
}

.botao-perigo {
    background: firebrick;
    color: white;
}

.botao-padrao {
    background: darkcyan;
    color: white;
}

.plus {
    font-size: 20px;
    font-weight: bold; 
    color: white;
    padding-bottom: 5px;
    
}
</style>