<template>
    <div>
        <select v-model="selectedFoto">
            <option v-for="foto in fotosComFiltro" :value="foto" v-bind:key="foto._id">{{foto.titulo}}</option>
        </select>
        <p>{{ selectedFoto }}</p>
    </div>
    
</template>

<script>
export default {
    props:  ['fotosComFiltro'],
    
    data(){
        return {
            selectedFoto: {}
        }
    }
}
</script>

<style scoped>

</style>