<template>
<div>
    <!--<form @submit.prevent="getRepo()">-->
        <p>GitHub</p>
        <input autocomplete="off" @input="repoInput = $event.target.value">
        <meu-botao estilo="btn btn-primary" rotulo="getRepo" tipo="" @botaoAtivado="getRepo()"/>

        <ul class='listaRepo'>
            <li class="listaRepoItem" v-for="repo in repositories" :key="repo">
                <img class="listaRepoItemImg" :src='repo.avatar_url' alt="">
                <strong class="repoName">{{ repo.name }}</strong>
                <p class="repoDescription">{{ repo.description }}</p>
                <a target="_blank" :href='repo.html_url'>Acessar</a>

            </li>
        </ul>
    <!--</form>-->
</div>
</template>

<script>
import Botao from '../shared/botao/Botao.vue';

export default {
    components: {
    'meu-botao': Botao
    },

    data(){
        return {
            repositories: [],
            repoInput: ''
      }
  },

  methods:{
      getRepo(){
          //console.log(this.repoInput)
          //rocketseat/docs
        
        this.$axios.get('v1/github', {
            params: {
                name: this.repoInput
            }
        })
        .then(response => {
            console.log('then')
            console.log(response.data)
            this.repositories = response.data
            
        })          
      }
  }
}
</script>

<style scoped>
.listaRepo {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.listaRepoItem{
    clear: both;
    margin-top: 20px;
}
.listaRepoItemImg{
    width: 80px;
    float: left;
    margin-right: 10px;
}
.repoName{
    font-size: 20px;
}
.repoDescription{
    margin: 5px 0;
}

</style>