
<template>
<div>
  <h1 class="centralizado">{{ titulo }}</h1>

  <meu-combo :fotosComFiltro="fotosComFiltro"></meu-combo>
  
  <input type="search" class="filtro" @input="filtro = $event.target.value">
  <ul class="lista">
    <li class='item' v-for="foto of fotosComFiltro" v-bind:key="foto">

      <meu-painel :foto="foto">
        <!-- <img class="imagem-responsiva" :src='foto.url' alt=""> -->
        <router-link :to="{ name: 'altera', params: {id: foto._id} }">
          <meu-botao
            tipo="button"
            rotulo="EDITAR"
            estilo="padrao">
          </meu-botao>
        </router-link>
        <meu-botao
            tipo="button"
            rotulo="REMOVER"
            @botaoAtivado="remove(foto)"
            estilo="perigo">
        </meu-botao>
        
      </meu-painel>

    </li>
  </ul>
</div>

</template>

<script>
import Painel from '../shared/painel/Painel.vue';
import Botao from '../shared/botao/Botao.vue';
import FotoService from '../../domain/foto/FotoService'
import Foto from '../../domain/foto/Foto'
import Combo from '../shared/combo/Combo.vue';


export default {
  components:{
    'meu-painel' : Painel,
    'meu-botao' : Botao,
    'meu-combo' : Combo
  },
  name: 'app',
  data () {
    return {
      titulo: 'AluraPic',
      fotos: [],
      filtro:'',
      selectedFoto: new Foto()
    }
  },

  computed: {
    fotosComFiltro(){
      if(this.filtro){
        let exp = new RegExp(this.filtro.trim(), 'i');
        return this.fotos.filter(foto => exp.test(foto.titulo));
      }
      return this.fotos
    }

  },

  methods: {
      remove(fotoIn){
          let service = new FotoService(this.$axios);
          service.apaga(fotoIn)
          
          this.fotos =  this.fotosComFiltro.filter(foto => foto != fotoIn)
      }
  },

  async created(){    
    //let service = new FotoService(this.$resource)
    //service.lista()
    //.then(fotos => this.fotos = fotos, err => console.log(err))

    let service = new FotoService(this.$axios)   
    this.fotos = await service.lista()
    //.then(fotos => this.fotos = fotos, err => console.log(err))
  }
}
</script>

<style>
.centralizado{
  text-align: center;
}

.item{
  list-style: none;
}

.lista .item{
  display: inline-block
}

.filtro{
  display: block;;
  width: 100%
}
</style>
