<template>
<!--
    <nav class="navbar bg-light">
        <ul class="navbar-nav">
            <li class="nav-item" v-for="rota in routes" :key="rota">
                <router-link :to=rota.path>{{rota.menu}}</router-link>
            </li>
        </ul>
  </nav>
  -->

<div id="app" ref="app">
  <slider :width="300" format="push" direction="left" :opacity="0.15" :links=links>
  </slider>
</div>

</template>

<script>
  import { routes } from '../../../routes'
  import Slider from '@jeremyhamm/vue-slider'

  export default { 
     data () {
        return {
            routes,
            links: []
        }
    },
    components: {
    'slider': Slider
  },
  created() {
      this.links = [
        {'id': 1, 'text': 'Home', to: '/'},
        {'id': 2, 'text': 'Cadastro', 'url': '/cadastro'}
      ]
  }
}
</script>

<style scoped>

</style>