<template>
    <nav class="navbar bg-light">
        <ul class="navbar-nav">
            <li class="nav-item" v-for="rota in routes" :key="rota">
                <router-link :to=rota.path>{{rota.menu}}</router-link>
            </li>
        </ul>
  </nav>
</template>

<script>
  import { routes } from '../../../routes'

  export default { 
     data () {
        return {
            routes: routes.filter(route => route.isMenu)
        }
    }
}
</script>

<style scoped>

</style>