<template>
    <div>
        <h2 class="centralizado">Cadastro</h2>
        {{ count }}
        <br>
        <button @click="increment">+</button>
        <button @click="decrement">-</button>
        <br>
        <!-- v-on or @ listens to DOM events-->
        <input type="search" @input="dado = $event.target.value">
        <br>
        {{ dado }}
    </div>
</template>

<script>
export default {
    data(){
        return {
            count: 0,
            dado: ''
        }
    },

    methods: {
        increment() {
            this.count++;
        },
        decrement() {
            this.count--;
        }
    }
}



</script>

<style scoped>
.centralizado{
  text-align: center;
}
</style>