<template>

  <div>
    <h1 class="centralizado">Cadastro</h1>
    <h2 class="centralizado"></h2>

    <form @submit.prevent="grava()">
      <div class="controle">
        <label for="titulo">TÍTULO</label>
        <!--
            @input="foto.titulo = $event.target.value" :value='foto.titulo'>
            Pode ser substituido por:

            v-model="foto.titulo"
        -->
        <input id="titulo" autocomplete="off" v-model="foto.titulo">
      </div>

      <div class="controle">
        <label for="url">URL</label>
        <!--
            @input="foto.url = $event.target.value" :value='foto.url'>
        -->
        <input id="url" autocomplete="off" v-model="foto.url">
      </div>

      <div class="controle">
        <label for="descricao">DESCRIÇÃO</label>
        <!--
            @input="foto.descricao = $event.target.value" :value='foto.descricao'>
        -->
        <textarea id="descricao" autocomplete="off" v-model="foto.descricao"></textarea>
      </div>

      <div class="centralizado">
        <meu-botao rotulo="GRAVAR" tipo="submit" v-show="visivel"/>
        <router-link :to="{ name: 'home' }"><meu-botao rotulo="VOLTAR" tipo="button"/></router-link>
        <meu-botao :rotulo="mostrar" tipo="" @botaoAtivado="testeVShow()"/>
      </div>

    </form>
    
  </div>
</template>

<script>
import Botao from '../shared/botao/Botao.vue';
import Foto from '../../domain/foto/Foto';
import FotoService from '../../domain/foto/FotoService'

export default {

  components: {
    'meu-botao': Botao
  }, 

  data(){
      return {
          foto: new Foto(),
          visivel: true,
          mostrar: 'Esconder',
          // é possível pelo uso do modulo v-router
          id: this.$route.params.id
      }
  },

  async created(){
    if(this.id){
      let service = new FotoService(this.$axios);
      this.foto = await service.findOne(this.id)
    }
  },

  methods:{
    testeVShow(){
      this.visivel = !this.visivel;
        this.mostrar = 'mostrar';
        if(this.visivel){
          this.mostrar = 'esconder'
        }
    },
    grava(){
        console.log(this.foto.titulo)
        //let service = new FotoService(this.$resource);
        let service = new FotoService(this.$axios);
        
        if(this.foto._id){
            service.editar(this.foto)
            .then(() => {
              this.foto = new Foto()
              this.$router.push({name: 'home'})
            }, err => console.log(err));
        } else{
            service.cadastra(this.foto)
            .then(() => this.foto = new Foto(), err => console.log(err));
        }
        
      }
  }
}

</script>
<style scoped>

  .centralizado {
    text-align: center;
  }
  .controle {
    font-size: 1.2em;
    margin-bottom: 20px;

  }
  .controle label {
    display: block;
    font-weight: bold;
  }

 .controle label + input, .controle textarea {
    width: 100%;
    font-size: inherit;
    border-radius: 5px
  }

  .centralizado {
    text-align: center;
  }

</style>