
<template>
  <div>    
    <!-- 
    ********************************************************************************
    ***** Componentes serão inseridos de acordo com a rota usando router-view ******
    ********************************************************************************
    Deve ser instalado:
    npm install vue-router --save

    Registrado no vue.js (main.js)
    import VueRouter from 'vue-router'
    Vue.use(VueRouter)

    Configuração: (routes.js)
    Esse arquivo contém as rotas para os componentes que serão exibidos
    É declarado e exportado um array de rotas, onde será colocado o caminho de cada
    componente:

    export const routes = [
      {path: '/', component: Home, menu: 'Home'},
      {path: '/cadastro', component: Cadastro, menu: 'Cadastro'}
    ];

    Essa configuração (array de rotas) será importado no arquivo main.js:
    import { routes } from './routes' -- > como não é um export default, usa {}

    Ainda é preciso unir essa rota ao vueRouter.
    Um router deve ser criado passando essas novas rotas onde estão os componentes.
    
    Ainda em main.js;
    Uma instancia de VueRouter é criada, passando um objeto como descritor:
    const router = new VueRouter({
      routes,
      mode: 'history' -- >  mode é usado para remover o # do endereço no browser:
                            Ex: http://localhost:8080/#/home -> http://localhost:8080/home
                            Para isso, o servidor (back-end) deve sempre retornar uma index.html
    })

    Na criação do Vue instance, indico a nova instancia do VueRouter:
    new Vue({
      el: '#app',
      router, // passando a nova instancia de rotas (router: router)
      render: h => h(App)
    })

    Finalmente, é adicionado o componente do VueRouter (router-view) em APP.vue, que vai indicar onde
    os componentes serão inseridos:
    <router-view></router-view> 
    ********************************************************************************
    -->
    
    <div class="row">
      <div class=" menu col-1">
        <mainMenu></mainMenu>
      </div>
      <div class="col-11">
        <router-view></router-view>
      </div>      
    </div>
  </div>
</template>

<script>
import MainMenu from './components/shared/main-menu/MainMenu.vue'

export default {
 components:{
    mainMenu : MainMenu
  }
}

</script>

<style>
.menu {
  background-color: #f8f9fa !important;
}    
.corpo{
  font-family: Helvetica, sans-serif;
  width: 96%;
  margin: 0 auto;
}
</style>
